<div ng-app="warpApp">

<!-- log in (not implemented this version) -->
  <!-- <div class="row" ng-controller="UserCtrl">
      <div class="large-12 columns">
        <form>
          <div class="row">
              <label for="username">Username</label>
              <input type="text" ng-model="enteredName">

              <label for="password">Password</label>
              <input type="text" ng-model="enteredPassword">

          </div>
          <div>
              <button ng-click='loginUser()'>Login</button> <button ng-click='addUser()'>Register</button> <button ng-click='logOutUser()'>Log Out</button>
          </div>
          <div >
              Oh, my! <p>{[{enteredPassword}]}</p>
          </div>
        </form>

      </div>
  </div>

  <div ng-controller="PlayCtrl">
      <button ng-click="authDataCallback()">Wanna see a secret word?</button>
  </div> -->

<div class="row">

  <div class="large-3 columns">

      <!-- Here's where pieces are initially staged and eventually discarded -->
    <table id="tray">
      <tr>
        <td id="tray-r0c0"></td>
        <td id="tray-r0c1"></td>
        <td id="tray-r0c2"></td>
        <td id="tray-r0c3"></td>
      </tr>
      <tr>
        <td id="tray-r1c0"></td>
        <td id="tray-r1c1"></td>
        <td id="tray-r1c2"></td>
        <td id="tray-r1c3"></td>
      </tr>
      <tr>
        <td id="tray-r2c0"></td>
        <td id="tray-r2c1"></td>
        <td id="tray-r2c2"></td>
        <td id="tray-r2c3"></td>
      </tr>
      <tr>
        <td id="tray-r3c0"></td>
        <td id="tray-r3c1"></td>
        <td id="tray-r3c2"></td>
        <td id="tray-r3c3"></td>
      </tr>
      <tr>
        <td id="tray-r4c0"></td>
        <td id="tray-r4c1"></td>
        <td id="tray-r4c2"></td>
        <td id="tray-r4c3"></td>
      </tr>
      <tr>
        <td id="tray-r5c0"></td>
        <td id="tray-r5c1"></td>
        <td id="tray-r5c2"></td>
        <td id="tray-r5c3"></td>
      </tr>
      <tr>
        <td id="tray-r6c0"></td>
        <td id="tray-r6c1"></td>
        <td id="tray-r6c2"></td>
        <td id="tray-r6c3"></td>
      </tr>
      <tr>
        <td id="tray-r7c0"></td>
        <td id="tray-r7c1"></td>
        <td id="tray-r7c2"></td>
        <td id="tray-r7c3"></td>
      </tr>
      <tr>
        <td id="tray-r8c0"></td>
        <td id="tray-r8c1"></td>
        <td id="tray-r8c2"></td>
        <td id="tray-r8c3"></td>
      </tr>
      <tr>
        <td id="tray-r9c0"></td>
        <td id="tray-r9c1"></td>
        <td id="tray-r9c2"></td>
        <td id="tray-r9c3"></td>
      </tr>
    </table>
  </div>

  <div class="large-6 columns"> <!-- main board -->
    <table id='main'>
      <tr>
        <td id="main-r0c0"></td>
        <td id="main-r0c1"></td>
        <td id="main-r0c2"></td>
        <td id="main-r0c3"></td>
        <td id="main-r0c4"></td>
        <td id="main-r0c5"></td>
        <td id="main-r0c6"></td>
        <td id="main-r0c7"></td>
        <td id="main-r0c8"></td>
        <td id="main-r0c9"></td>
      </tr>
      <tr>
        <td id="main-r1c0"></td>
        <td id="main-r1c1"></td>
        <td id="main-r1c2"></td>
        <td id="main-r1c3"></td>
        <td id="main-r1c4"></td>
        <td id="main-r1c5"></td>
        <td id="main-r1c6"></td>
        <td id="main-r1c7"></td>
        <td id="main-r1c8"></td>
        <td id="main-r1c9"></td>
      </tr>
      <tr>
        <td id="main-r2c0"></td>
        <td id="main-r2c1"></td>
        <td id="main-r2c2"></td>
        <td id="main-r2c3"></td>
        <td id="main-r2c4"></td>
        <td id="main-r2c5"></td>
        <td id="main-r2c6"></td>
        <td id="main-r2c7"></td>
        <td id="main-r2c8"></td>
        <td id="main-r2c9"></td>
      </tr>
      <tr>
        <td id="main-r3c0"></td>
        <td id="main-r3c1"></td>
        <td id="main-r3c2"></td>
        <td id="main-r3c3"></td>
        <td id="main-r3c4"></td>
        <td id="main-r3c5"></td>
        <td id="main-r3c6"></td>
        <td id="main-r3c7"></td>
        <td id="main-r3c8"></td>
        <td id="main-r3c9"></td>
      </tr>
      <tr>
        <td id="main-r4c0"></td>
        <td id="main-r4c1"></td>
        <td id="main-r4c2" colspan="2" rowspan="2"><img class='star' src='/assets/images/star.png'></td>
        <!-- star continued -->
        <td id="main-r4c4"></td>
        <td id="main-r4c5"></td>
        <td id="main-r4c6" colspan="2" rowspan="2"><img class='star' src='/assets/images/star.png'></td>
        <!-- star continued -->
        <td id="main-r4c8"></td>
        <td id="main-r4c9"></td>
      </tr>
      <tr>
        <td id="main-r5c0"></td>
        <td id="main-r5c1"></td>
        <!-- star continued -->
        <!-- star continued -->
        <td id="main-r5c4"></td>
        <td id="main-r5c5"></td>
        <!-- star continued -->
        <!-- star continued -->
        <td id="main-r5c8"></td>
        <td id="main-r5c9"></td>
      </tr>
      <tr>
        <td id="main-r6c0"></td>
        <td id="main-r6c1"></td>
        <td id="main-r6c2"></td>
        <td id="main-r6c3"></td>
        <td id="main-r6c4"></td>
        <td id="main-r6c5"></td>
        <td id="main-r6c6"></td>
        <td id="main-r6c7"></td>
        <td id="main-r6c8"></td>
        <td id="main-r6c9"></td>
      </tr>
      <tr>
        <td id="main-r7c0"></td>
        <td id="main-r7c1"></td>
        <td id="main-r7c2"></td>
        <td id="main-r7c3"></td>
        <td id="main-r7c4"></td>
        <td id="main-r7c5"></td>
        <td id="main-r7c6"></td>
        <td id="main-r7c7"></td>
        <td id="main-r7c8"></td>
        <td id="main-r7c9"></td>
      </tr>
      <tr>
        <td id="main-r8c0"></td>
        <td id="main-r8c1"></td>
        <td id="main-r8c2"></td>
        <td id="main-r8c3"></td>
        <td id="main-r8c4"></td>
        <td id="main-r8c5"></td>
        <td id="main-r8c6"></td>
        <td id="main-r8c7"></td>
        <td id="main-r8c8"></td>
        <td id="main-r8c9"></td>
      </tr>
      <tr>
        <td id="main-r9c0"></td>
        <td id="main-r9c1"></td>
        <td id="main-r9c2"></td>
        <td id="main-r9c3"></td>
        <td id="main-r9c4"></td>
        <td id="main-r9c5"></td>
        <td id="main-r9c6"></td>
        <td id="main-r9c7"></td>
        <td id="main-r9c8"></td>
        <td id="main-r9c9"></td>
      </tr>
    </table>
  </div>

  <div class="large-3 columns">
    <div id="chat">
      <!-- <div ng-controller="WarpCtrl">

        <ul ng-repeat="message in messages">
          <li>{[{ message }]}</li>
        </ul>

      </div> -->
    </div>

  </div>

  </div>

</div>
<!-- end row with boards -->
<div class="clearfix"></div>
<div id="buttons" class="row">

  <div class="large-12 columns">
    <div id='controls'>
      <ul class="button-group">
        <!-- <button id="quickSetF"  class='button'>QSet Fed</button>
        <button id="quickSetA" class='button'>QSet Ali</button> -->
        <li id="quickAll" class='button alert'><a href="#">Quick Set</a></li>
        <li id="reset" class='button alert'><a href="#">Reset</a></li>
        <li id="fed" class='button alert'><a href="#">Choose Blue</a></li>
        <li id="alliance" class='button alert'><a href="#">Choose Red</a></li>
      </ul>
    </div>
  </div>

</div>

<script>
var fbref = new Firebase("https://shining-heat-2898.firebaseio.com/Board/square");
    $(document).foundation();
    $(document).ready(function(){
      // fbref.orderByChild('Board').on('child_added', function (snapshot) {
      //   console.log(snapshot.key() + ':' + snapshot.val().Board);
      // });
      fbref.once('value',function(snapshot){
        var arena = snapshot.val();
        for (var key in arena) {
          $('#add').append('<li>' + arena[key].shipId + '</li>');
        }
      });

      // $.ajax({
      //   url: 'https://shining-heat-2898.firebaseio.com/Board/6.json',
      //   success: function(data) {
      //     console.log('ajax----');
      //     console.log(data);
      //   },
      //   error: function(data) {
      //     console.log('you lose');
      //   }
      // });

    });

</script>
