<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="/stylesheets/normalize.min.css"/>
      <link rel="stylesheet" href="/stylesheets/foundation.min.css"/>
      <link rel="stylesheet" href="/stylesheets/style.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-route.min.js"></script>
      <link rel="shortcut icon" href="favicon.ico?v=2" />
      <script type="text/javascript" src="/javascripts/vendor/jquery.js"></script>
      <script type="text/javascript" src="/javascripts/foundation.min.js"></script>
      <script src="https://cdn.firebase.com/js/client/2.2.9/firebase.js"></script>
      <script type="text/javascript" src="/javascripts/angular-app.js"></script>
      <script type="text/javascript" src="/javascripts/vendor/angularfire.min.js"></script>


  </head>
  <body>

    {{{body}}}




  </body>
</html>
