


<div class="row">
    <div class="large-12 columns">
        <h1>Log-in to play {{title}}</h1>
        <p>{{title}}</p>
    </div>
</div>



        <h5>Log-in or create an account</h5>
        <form>
            <div class="row">
                <div class="large-12 columns">
                    <label>
                      <span>email</span>
                      <input type="text" ng-model="email" placeholder="email" />
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="large-4 medium-4 columns">
                  <label>
                    <span>password</span>
                    <input type="password" ng-model="pass" placeholder="*****" />
                  </label>
                </div>
                <div class="large-4 medium-4 columns">
                  <label ng-cloak ng-show="createMode">
                    <span>confirm password</span>
                    <input type="password" ng-model="confirm" placeholder="*****" />
                  </label>
                </div>
                <button ng-click="login(email, pass)" ng-hide="createMode">Log In</button>
                <button ng-click="createMode = true" ng-hide="createMode">Register</button>
                <button ng-cloak ng-show="createMode" ng-click="createAccount()">Create Account</button>
                <button ng-cloak ng-show="createMode" ng-click="createMode = false">Cancel</button>

                <p ng-show="err" class="error">{{err}}</p>
            </div>
        </form>



<script>
    $(document).foundation();
</script>
