


<div class="row">
    <div class="large-12 columns">
        <h1>{{title}} <3 Foundation</h1>
        <p>Welcome to {{title}} & Foundation</p>
    </div>
</div>



        <h5>Log-in or create an account</h5>
        <form>
            <div class="row">
                <div class="large-12 columns">
                    <label>
                      <span>email</span>
                      <input type="text" placeholder="large-12.columns" />
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="large-4 medium-4 columns">
                  <label>
                    <span>password</span>
                    <input type="text" placeholder="large-4.columns" />
                  </label>
                </div>
                <div class="large-4 medium-4 columns">
                  <label>
                    <span>confirm pass</span>
                    <input type="text" placeholder="large-4.columns" />
                  </label>
                </div>
                <button>Log In</button>
                <button>Register</button>
                <button>Create Acount</button>
                <button>Cancel</button>
            </div>
        </form>



<script>
    $(document).foundation();
</script>
