// Variables
@titleFont: 'Share', sans-serif;
@titleColor: rgb(240,207,61);

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  // background-color: rgb(100,100,100);
  background: url('/images/milky-way-wikipedia-spitzer.jpg');
}

a {
  color: #00B7FF;
}

#fancy {
  width: 100px;
  height: 200px;
  background-color: green;
  font-size: 100px;
}

h1 {
  color: @titleColor;
  font-family: @titleFont;
  font-size: 8rem;
  font-weight: 700;
  font-style: italic;
  text-align: center;
}
article {
  color: rgb(240,207,61);
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  th, td {
    border: 1px solid rgb(0,255,245);
    background-color: rgb(100,100,100) !important;
  }
}
.square {
  width: 35px;
  height: 50px;
}
